<nav class="navbar navbar-default fixed-top navbar-expand-lg navbar-light" role="navigation">
    <a class="navbar-brand" href="/">Maple</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <% if(title === 'Coupon'){%>
                <li class="nav-item active">
            <%} else{%>
                <li class="nav-item">
            <%}%>
                    <a class="nav-link" href="/coupon">Coupon</a>
                </li>
        </ul>
        <ul class="navbar-nav navbar-right">
            <% if(title === 'Register'){%>
                <li class="nav-item active">
            <%} else{%>
                <li class="nav-item">
            <%}%>
                    <a class="nav-link" href="/signup">Sign Up</a>
                </li>
            <% if(title === 'Login'){%>
                <li class="nav-item active">
            <%} else{%>
                <li class="nav-item">
            <%}%>
                    <a class="nav-link" href="/login">Login</a>
                </li>
            <!-- <li class="nav-item">
                <a class="nav-link" href="/logout">Log out</a>
            </li> -->
        </ul>
    </div>
</nav>
