<nav class="navbar navbar-default navbar-expand-lg navbar-light" role="navigation">
  <header role="banner">
    <img src="images/wallet-logo@2x.png" alt="wallet-logo" class="wallet-logo">
    <h1 class="app-logo"><a href="/">Maple</a></h1>
  </header>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <!-- <form class="form-inline my-2 my-lg-0" class="hide">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form> -->
        </ul>
        <ul class="navbar-nav navbar-right">
          <% if(title === 'Coupon'){%>
              <li class="nav-item active js-coupon hide">
          <%} else{%>
              <li class="nav-item js-coupon hide">
          <%}%>
                  <a class="nav-link" href="/dashboard">Coupon</a>
              </li>
            <% if(title === 'Register'){%>
                <li class="nav-item active js-signup">
            <%} else{%>
                <li class="nav-item js-signup">
            <%}%>
                    <a class="nav-link" href="/signup">Sign Up</a>
                </li>

            <% if(title === 'Login'){%>
              <li class="nav-item active js-login">
            <%} else{%>
              <li class="nav-item js-login">
            <%}%>
                    <a class="nav-link" href="/login">Login</a>
                </li>

            <% if(title === 'Logout'){%>
              <li class="nav-item active js-logout hide">
            <%} else{%>
              <li class="nav-item js-logout hide">
            <%}%>
                <a class="nav-link" href="#">Log out</a>
              </li>
        </ul>
    </div>
</nav>
