/* orange button #ff7e27 */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background: #FFF;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-weight: 400;
    margin-top: 56px;
}

.center {
    display: flex;
    justify-content: center;
}

.text-center {
  text-align: center;
}

.navbar-default {
    background-color: #FFF;
}

.navbar {
    color: #FFF;
    font-size: 16px;
    height: 60px;
    box-shadow: 0px 2px 9px 0px rgba(0, 0, 0, 0.03);
    border-bottom: 1px solid #eeeeee;
    color: #999;
}

.navbar a {
    outline: none;

}

.container {
    margin-top: 100px;
    padding-right: 0;
    padding-left: 0;
}


/* LOGIN SECTION */
#login-section {
  width: 400px;
  background: #F7F7F7;
  padding: 60px;
  border-radius: 25px;
}

#login-section h1 {
  margin-bottom: 15px;
  text-align: center;
}

#login-section button {
  width: 100%;
}

#login-link-section {
  margin: 10px auto;
  text-align: center;
}

/* SIGN UP SECTION */

#signup-section {
  width: 400px;
  background: #F7F7F7;
  padding: 60px;
  border-radius: 25px;
}

#signup-section h1 {
  margin-bottom: 15px;
  text-align: center;
}

#signup-section button {
  width: 100%;
}

#signup-link-section {
  margin: 10px auto;
  text-align: center;
}

.coupon-add-nav {
    line-height: 60px;
    font-size: 18px;
    text-align: right;
    padding-right: 10px;
    margin-bottom: 20px;
}



.coupon-actions-nav{
    text-align: right;
}

.modal-header {
   border-bottom: 0;
}

.modal-body {
    padding: 0 60px 60px 60px;
}

#addNewCouponModalLabel,
#editCouponModalLabel {
    text-align: center;
    margin-bottom: 40px;
}

.submit-add-coupon-btn,
.submit-edit-coupon-btn {
   margin-top: 10px;
}

.form-control {
    border: 1px solid rgb(231, 231, 231);
}

.form-group {
    margin-bottom: 25px;
}

.header-title {
    font-size: 24px;
    font-weight: 600;
    letter-spacing: .5px;
    border-bottom: 1px solid #eee;
    padding-bottom: 15px;
}

.list-coupons-section {
    padding-top: 30px;
}

.coupon-container {
    border: 1px solid #eeeeee;
    border-radius: 10px;
    padding: 30px 40px;
    margin-bottom: 20px;
}

.coupon-merchant-name h2 {
    margin-bottom: 10px;
}

.coupon-code {
    display: inline-block;
    background: #eeeeee;
    color: #808080;
    text-transform: uppercase;
    height: 36px;
    line-height: 36px;
    letter-spacing: 0.5px;
    border: 1px solid #e8e8e8;
    padding: 0 10px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
  }

/* ICONS */
.icons {
    font-size: 26px;
    padding: 0 10px;
    cursor: pointer;
}


/* BUTTONS */
.btn-transparent {
  background: #FFF;
  border: none;
}

input[type="button" i] {
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.clsDatePicker {
    z-index: 100000;
}

.datepicker {
  z-index:2000 !important;
}
