<% include ../partials/header %>
    <% include ../partials/navigation %>
    <% include ../partials/outputMessage %>
        <section role="region" class="container js-coupon-section">
            <section role="region" class="list-coupons-section" id="js-list-coupons-section">
              <div class="wrapper">
                <h1>Dashboard</h1>
                <button class="button solid js-add-new-coupon-btn add-new-coupon-btn" data-toggle="modal" data-target="#addNewCouponModal">
                  <span>
                    <img src="images/add-icon@3x.svg" alt="add-icon" class="add-icon">
                  </span>
                  Add Coupon
                </button>
              </div>
              <% typeof msg != 'undefined' ? msg: '' %>
              <div id="coupons">
                  <!-- coupons will render here -->
              </div>

            </section>

            <section role="region" id="addNewCouponModelSection">
                <!-- Add modal will render here -->
            </section>

            <section role="region" id="editCouponModelSection">
                <!-- Edit modal will render here -->
            </section>

            <section role="region" id="uploadImageModelSection">
                <!-- upload Image modal will render here -->
            </section>

        </section>
      <script src="/javascripts/index.js"></script>
      <script src="javascripts/coupon.js"></script>
<% include ../partials/footer %>
