<% include ../partials/header %>
    <% include ../partials/navigation %>
    <% include ../partials/outputMessage %>
        <section role="region" class="container js-coupon-section">
            <div class="coupon-add-nav">
                <button type="button" class="btn btn-primary js-add-new-coupon-btn" data-toggle="modal" data-target="#addNewCouponModal">
                    <span class="icon-budicon-classic-1" aria-hidden="true">Add a new coupon</span>
                </button>
            </div>

            <header role="banner">
                <h1 class="header-title">Your Coupons</h1>
            </header>

            <section role="region" class="list-coupons-section" id="js-list-coupons-section">
              <div id="coupons"></div>
            </section>

            <section role="region" id="addNewCouponModelSection">
                <!-- Add modal will render here -->
            </section>
            <section role="region" id="editCouponModelSection">
                <!-- Edit modal will render here -->
            </section>
        </section>
      <script src="/javascripts/index.js"></script>
      <script src="javascripts/coupon.js"></script>
<% include ../partials/footer %>
