<% include ../partials/header %>
<% include ../partials/navigation %>
<% include ../partials/outputMessage %>

    <main role="main" class="container">
        <header role="banner">
            <h1>Hello World - Home Page</h1>
        </header>
    </main>

    <script src="/javascripts/index.js"></script>
<% include ../partials/footer %>
